@import url("reset.css");
@import url("typography.css");
@import url("icons.css");
@import url("globals.css");

.container {
  width: 100%;
  display: grid;
  grid-template-rows: 50px repeat(3, auto) 30px;
}

#postHead {
  position: relative;
  height: 30vh;
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/japan.jpg");
  color: #FFF;
  padding: 0 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#postHead .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#postHead aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(255,255,255,0.2);
  padding: 0 20px;
}

#postHead aside .author {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 50px;
}

#postHead aside .author .profile {
  width: 60px;
  height: 60px;
  margin-right: 12px;
  border-radius: 50%;
  border: 3px solid #fff;
  display: inline-block;
}

#postHead aside .author .text .name {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.1;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

#postHead aside .author .text .charge {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 4px;
}

#postHead aside .author .text .twitter {
  font-size: 14px;
  color: #888;
  margin: 0;
}

#postHead aside .share {
  text-align: center;
  margin-bottom: 10px;
}

#postHead aside .share p {
  font-size: 16px;
  line-height: 1.1;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#postHead aside .share span {
  cursor: pointer;
  padding: 0 5px;
  transition: color 0.3s;
}

#postHead aside .share span:hover {
  color: #999;
}

#postHead .overlay {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.3;
  transition: opacity 0.3s;
}

#postHead:hover .overlay {
  opacity: 0;
}

#postBody {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

#postBody .header {
  border-bottom: 1px solid #999;
}

#postBody .body {
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}

#postBody .header h3 {
  margin: 0;
  color: #056956;
}

#postBody .header #breadcrumb a {
  color: #000;
  text-decoration: none;
}

#postBody .header #breadcrumb a:hover {
  text-decoration: underline;
}

#postBody .body figure {
  margin: 50px 0;
}

#postBody .body figure.small {
  width: 50%;
  margin: 50px auto;
}

#postBody .body figure img {
  width: 100%;
}

#postBody .body figure figcaption {
  text-align: right;
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
}

#postFooter {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

#postFooter .share span {
  cursor: pointer;
  padding: 0 5px;
  transition: color 0.3s;
}

#postFooter .share span:hover {
  color: #999;
}

#readMore {
  padding: 0 30px;
}

#readMore .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 50px;
}

#readMore .wrapper .post {
  height: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#readMore .wrapper .post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#readMore .wrapper .post h3 {
  color: #FFF;
  text-shadow: 0px 0px 5px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

@media screen and (max-width: 1023px) {
  .container {
    grid-template-rows: 100px repeat(3, auto) 60px;
  }
  
  #postHead {
    flex-direction: column;
    padding: 0 3vw;
  }

  #postHead .title {
    margin-top: 30px;
  }

  #postHead aside {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 0 -3vw;
  }

  #postHead aside .author {
    margin: 0;
  }
}