@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

h1 {
  font-size: 50px;
  line-height: 1.3;
  margin: 0 0 20px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 1.3;
  margin: 0 0 20px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 1.3;
  margin: 0 0 20px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.3;
  margin: 0 0 20px;
}

p .bold {
  font-weight: bold;
}

p .italic {
  font-style: italic;
}

p .underline {
  text-decoration: underline;
}

blockquote {
  margin-bottom: 30px;
}

blockquote::first-letter {
  font-size: 30px;
}


@media screen and (max-width: 1023px) {
  h1 {
    font-size: 80px;
    margin: 0 0 40px;
  }

  h2 {
    font-size: 60px;
    margin: 0 0 40px;
  }

  h3 {
    font-size: 50px;
    margin: 0 0 40px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 32px;
    margin: 0 0 40px;
  }

  blockquote {
    margin-bottom: 50px;
  }
  
  blockquote::first-letter {
    font-size: 50px;
  }
}